<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="shortcut icon" href="favicon.png" type="image/png"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>𝐒𝐂𝐑𝐎𝐋𝐋𝐈𝐍𝐆 𝐈𝐌𝐀𝐆𝐄</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">


        <!--Bootstrap-->
        <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
        <script src="lib/bootstrap/bootstrap.min.js"></script>
        
        <!--FontAwesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
</head>
<body>
