<<<<<<< HEAD
<html>
  <head>
    <link rel="shortcut icon" href="favicon.png" type="image/png"/>
    <title>ğ’ğ‚ğ‘ğğ‹ğ‹ğˆğğ†</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styleIndex.css" />
  </head>
  <body>
    <ul>
      <li class="divide">

        <div>
          <p>Choose the feature</p>
        </div>
      </li>
      <li>

        <ul>
          <li class="choose">
            <form action="/text">
              <button type = "submit" class = "text">Scrolling Text</button>
            </form>
          </li>
          <li class="choose">
              <form action="/dataImage">
                <button type = "submit" class = "image">Scrolling Image</button>
              </form>
          </li>
        </ul>

      </li>
    </ul>


  </body>
</html>

=======
<html>
  <head>
    <link rel="shortcut icon" href="favicon.png" type="image/png"/>
    <title>ğ’ğ‚ğ‘ğğ‹ğ‹ğˆğğ†</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styleIndex.css" />
  </head>
  <body>
    <ul>
      <li class="divide">

        <div>
          <p>Choose the feature</p>
        </div>
      </li>
      <li>

        <ul>
          <li class="choose">
            <form action="/text">
              <button type = "submit" class = "text">Scrolling Text</button>
            </form>
          </li>
          <li class="choose">
              <form action="/dataImage">
                <button type = "submit" class = "image">Scrolling Image</button>
              </form>
          </li>
        </ul>

      </li>
    </ul>


  </body>
</html>

>>>>>>> 6287b2da7d9bbb953c26da81f72037aa5210b4d2
