<%- include("template/header"); %>

<script src="js/dropzone.js"></script>
<link rel="stylesheet" href="css/dropzone.min.css" />
<style>
	body {
		background: rgba(0, 0, 0, 0.05);
		height: 100%;
		color: rgb(100, 108, 127);
		line-height: 1.4rem;
		font-family: Roboto, "Open Sans", sans-serif;
		font-size: 20px;
		font-weight: 300;
		text-rendering: optimizeLegibility;
	}

	h1 {
		text-align: center;
	}

	.dropzone {
		background: white;
		border-radius: 5px;
		border: 2px dashed rgb(0, 135, 247);
		border-image: none;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
</style>

<h1>Upload immagini</h1>
<form name="form" action="/addImage" method="POST" class="dropzone" encType="multipart/form-data" id="upload-drop-zone">
	<div class="dz-message needsclick">
		Droppa i file qui oppure clicca per uploadare
		
	</div>

</form>

<div id="template" style="display: none;">
	<div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name>b</span></div>
			<div class="dz-size" data-dz-size>b</div>
			<img data-dz-thumbnail />
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔u</span></div>
		<div class="dz-error-mark"><span>✘u</span></div>
		<div class="dz-error-message"><span data-dz-errormessage>v</span></div>
	</div>

</div>
<script>
	/*
	const dropZone = new Dropzone("#upload-drop-zone", {
		url: "/addImage",
		previewTemplate: document.querySelector('#template').innerHTML,
		previewsContainer: "#template"
	})
	console.log(dropZone, document.querySelector('#template').innerHTML, );
	*/

	console.log(document.querySelector("#template").innerHTML);
	Dropzone.options.uploadDropZone = {
		paramName: "file", // The name that will be used to transfer the file
		//previewTemplate: document.querySelector("#template").innerHTML,
		acceptedFiles: '.png,.jpg,.jpeg,.bmp'
	};

</script>
<%- include("template/footer"); %>